/* GENERAL */
body {
margin: 0 auto;
}

/* NAV */
.nav {
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-right: 10px;
  border: solid 1px black;

  background-color: white;
}

/* LINKS ON RIGHT */
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;

  border-left: solid 1px black;
}

.nav-about, .nav-contact {
  padding-left: 45px;
  padding-right: 45px; 
}

.nav-about {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.nav-item, .my-name {
  text-decoration: none;
  color: black;
}

/* MY NAME */
.my-name {
  max-width: 150px;

  border-right: solid 1px black;

  text-align: center;
}

/* PROJECT LIST - GENERAL */
.main-project-display {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  margin-top: 150px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin-bottom: 100px;
}

.project-image {
  position: relative;
  align-self: center;
}

.project-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: -20px;
  left: 20px;
  z-index: -2;
}

.project-image:hover:after {
  border: 1px solid black;
}

.project-description {
  width: 60%;

  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}