/* IMPORT THE FONTS */
@import url('https://fonts.googleapis.com/css?family=Nunito');


/* BASE STYLE */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1e2d8;
  margin: 0;
  padding: 0;

  font-family: 'Nunito', sans-serif;
  color: #360ea4;
  overflow-x: hidden;
}

.page__h1 {
  margin: 0;
  font-family: 'titling-gothic-fb', sans-serif;
  font-weight: bold;
  font-size: 5em;
}

.page__h2 {
  margin: 0;
  font-family: 'titling-gothic-fb', sans-serif;
  font-weight: bold;
  font-size: 3em;
}

/* HAS SHADOW */
.has-shadow {
  position: relative;

  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid black;
  background-color: #FFFDF4;
}

.has-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: 3px;
  left: 3px;
  z-index: -2;

  border: 1px solid black;
  background-color: #FFFDF4;
}

.has-shadow:hover:after {
  background-color: #360ea4;
}

/* RECURRING ELEMENTS */

.header {
  width: 100vw;
  height: 100vh;

  display: grid;
  align-items: start;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
}

.nav {
  width: 100%;
  margin: 5px 10px;
  position: fixed;
  z-index: 3;

  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
  justify-content: end;
}

.nav__item {
  max-width: 130px;
  margin: 0 5px;
  padding: 8px 10px;

  border-radius: 0;
  color: #360ea4;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.nav__about {
  grid-column: 2/3;
}

.nav__work {
  grid-column: 3/4;
}

.nav__contact {
  grid-column: 4/5;
}

.page_title-subtitle {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: left;
}

.page__title, .page__subtitle {
  margin-left: 25%;
  width: fit-content;
  grid-column: 2/3;

  text-align: left;
}

.page__title {
  margin-bottom: 0;
}

.page__subtitle {
  font-size: 2em;
}

/******************* 
SCROLL ------- WORK 
*******************/

.home__work {
  width: 100%;
  margin-top: 80px;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 4fr 3fr 1fr;
  align-content: center;
}

.work__section-description {
  width: 100%;
  text-align: center;
}

.work__list {
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
}

.work__list-item {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #360ea4;
  font-size: 54px;
  line-height: 34px;
  font-family: 'titling-gothic-fb', sans-serif;
}

.img-container {
  width: 90%;
  height: 420px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #360ea4;
  box-shadow: 2px 2px 25px #b9707860;
  overflow: hidden;

  grid-column: 3/4;
  justify-self: end;
  align-self: center;
}

.img--313, .img--factix, .img--fork {
  display: none;
  height: auto;
}
.img--factix {
  width: 110%;
}
.img--313 {
  width: 110%;
}

.img--fork {
  width: 70%;
}

.img--projects {
  width: 100%;
}

.work__one:hover .work__list-item {
  color: #360ea4;
}

.work__two:hover .work__list-item {
  color: #360ea4;
}

.work__three:hover .work__list-item {
  color: #360ea4;
}

.all-work:hover {
  color: #360ea4;
}

/***********************
SCROLL -------- CONTACT 
***********************/

.home__contact {
  margin-top: 150px;
}

.contact__section-description {
  text-align: center;
}

.home__contact a {
  text-decoration: none;
  color: #360ea4;
  font-size: 24px;
  font-family: 'titling-gothic-fb', sans-serif;
}

.home__contact a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.contact__phone, .contact__email, .contact__linkedin {
  text-align: center;
  margin-top: 80px;
}

.has-shadow-contact {
  width: fit-content;
  margin: 0 auto;
}

.jump-top__wrapper {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.jump-top {
  color: #360ea4;
  text-decoration: none;
}

.jump-top:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.footer {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}


/**********
WORKS PAGE
***********/

.works--section {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 185px;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

.works-h2p {
  grid-column: 1/2;

  margin-top: 125px;
  margin-left: 125px;
}

.small-img--container {
  position: absolute;
  top: 35%;
  left: -45%;
  width: 270px;
  height: 270px;
  overflow: hidden;
}

.img--works-section {
  width: 100%;
}

.img--work-three {
  width: 80%;
}

.bg-img--container {
  position: relative;
  grid-column: 2/3;
  width: 100%;
}

.bg--one {
  background-image: url(images/factix/heron\ carousel.jpg);
  background-size: 450px;
  background-position-x: left;
  background-position-y: top;
}

.bg--two {
  background-image: url(images/313/moto-blue.png);
  background-size: 580px;
  background-position-x: right;
  background-position-y: center;
}

.bg--three {
  background-image: url(images/TheFork/thefork-line-high.png);
  background-size: 100px;
  background-position-x: left;
  background-position-y: center;
}

.bg--four {
  background-image: url(images/Fendi/custom-red.png);
  background-size: 280px;
  background-position-x: center;
  background-position-y: center;
}

.bg--five {
  background-image: url(images/Ultralight/pages_7-8.png);
  background-size: 180px;
  background-position-x: center;
  background-position-y: center;
}

.see-work {
  width: fit-content;
  height: fit-content;

  grid-column: 1/2;
  margin-left: 125px;
  margin-top: -125px;
  padding: 15px;

  text-decoration: none;
  color: #360ea4;
}

/************
PROJECT PAGES
**************/

.project-page__subtitle {
  max-width: 600px;
  font-size: 20px;
}

.project-img--container {
  width: 90%;
  height: 680px;
  margin: 0 auto;

  overflow: hidden;
}

.project--img-one {
  width: 100%;
  height: auto;
}

.project-img--container-two {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.project--img-two {
  width: 100%;
}

.project__about, .project__material {
  margin-top: 150px;
  text-align: center;
  font-size: 54px;
  font-family: 'titling-gothic-fb', sans-serif;
}

.work__title--project {
  margin-top: 20px;
  margin-left: 50px;

  text-align: right;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #360ea4;
  font-size: 34px;
  font-family: 'titling-gothic-fb', sans-serif;
}

.details-container {
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;

  background-color: #f1e2d8;
  box-shadow: 2px 2px 25px #b9707860;
}

.work__description--project {
  color: transparent;
}

.details:hover .work__description--project {
  color: #360ea4;
}

.project-img--container-threefour {
  width: 100%;
  margin-top: 85px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.project--img-three, .project--img-four {
  width: 100%;
}

.project-img--container-fivesixseven {
  width: 100%;
  margin-top: 85px;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
}

.project--img-five, .project--img-six, .project--img-seven {
  width: 100%;
}

.project--img-five {
  grid-column: 2/3;
}

.primary-color:hover {
  -webkit-text-stroke-width: 0px;
  color: #869af7;
}

.secondary-color:hover {
  -webkit-text-stroke-width: 0px;
  color: #fdaa72;
}

.tertiary-color:hover {
  -webkit-text-stroke-width: 0px;
  color: #98ef4e;
}

.end-page--links {
  margin-top: 50px;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.end-page--links a {
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  color: #360ea4;
}


/***********
TRE UNO TRE
***********/

.primary-color__tre:hover {
  -webkit-text-stroke-width: 0px;
  color: #2c2cf5;
}

.secondary-color__tre:hover {
  -webkit-text-stroke-width: 0px;
  color: #00ff3a;
}