/* GENERAL */
/* IMPORT THE FONTS */
@import url("https://use.typekit.net/xjr7bpn.css");
@import url("https://use.typekit.net/xjr7bpn.css");

body {
margin: 0 auto;
font-family: freight-text-pro, serif;
}

/* NAV */
.nav {
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-right: 10px;
  border: solid 1px black;

  backdrop-filter: blur(5px);
}

/* LINKS ON RIGHT */
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;

  border-left: solid 1px black;
}

.nav-about, .nav-contact {
  padding-left: 45px;
  padding-right: 45px; 

  font-family: freight-sans-pro, sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.nav-about {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.nav-item, .my-name {
  text-decoration: none;
  color: black;
}

/* MY NAME */
.my-name {
  max-width: 150px;

  border-right: solid 1px black;

  text-align: center;
  font-family: freight-text-pro, serif;
  font-weight: 900;
  font-style: normal; 
}

/* PROJECT LIST - GENERAL */
.main-project-display {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* test */
.grand-txt-test {
  font-size: 36px;
  max-width: 60%;
  height: 100vh;

  margin: auto;
  padding-top: 200px;

  scroll-snap-align: start;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  scroll-snap-align: start;
}

.project-fendi {
  background-color: #FFE8BF;
}
.project-thefork {
  background-color:#D8FFEF;
}
.project-ultralight {
  background-color:#EACFD1;
}
.project-hereyes {
  background-color: #FFD3B7;
}
.project-treunotre {
  background-color: #E7EFFD;
}

.shadow-container {
  position: relative;
  align-self: center;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
}

.shadow-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: -20px;
  left: 20px;
  z-index: -2;
}

.shadow-container:hover:after {
  border: 1px solid black;
}

.project-image {
  width: 100%;
  /* height: 100%; */
}

.project-description {
  width: 60%;

  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* STICKY BOTTOM */
/* .bottom-fixed {
  position: sticky;
  bottom: 0;

  width: 100vw;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  border: 1px solid black;

  font-family: freight-sans-pro, sans-serif;
  font-weight: 100;
  font-size: 14px;
} */

.bottom-text-left {
  border-left: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

.bottom-text-right {
  border-right: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

.arrow-down {
  transform: rotate(90deg);
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  background-color: none;
  backdrop-filter: blur(5px);

  font-family: freight-sans-pro, sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.footer-designedby {
  margin-left: 20px;
}

.footer-next-page {
  position: absolute;
  left: 45%;
  align-self: center;
}