/* GENERAL */
body {
  font-family: 'Butler';
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  color: black;
  text-decoration: none;
}

.nav-wrapper, .content-wrapper, .scroll-indicator {
  position: fixed;
  z-index: -1;
}

header {
  width: 90%;
  margin: auto;
}

.my-name {
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 400;
}

.nav-wrapper {
  width: 90vw;
  margin: 0;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.nav-list {
  min-width: 150px;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style-type: none;
}

.content-wrapper {
  width: 90%;
  height: 90vh;

  margin: auto;
  left: 5%;
  top: 7%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #E7EFFD 0%, #F4E6F2 35%, #FFDEE8 100%);
}

.text-regular {
  font-weight: 200;
}

.paragraph-main {
  max-width: 70%;
  min-width: 65%;
  margin-right: 15%;

  font-size: 36px;

  z-index: -1;
}

.scroll-indicator {
  right: 8px;
  top: 45%;

  transform: rotate(90deg);

  font-family: 'junicode';
  font-style: italic;
}

.project-wrapper {
  width: 40%;
  height: 40%;
  margin-left: 50%;
  overflow-y: scroll;
}

.project {
  width: 100%;
}

.project img {
  width: 100%;
}



/* landing page */
.background-landing {
  width: 90vw;
  height: 90vh;

  margin-top: 5vh;
  margin-right: 5vw;
  margin-bottom: 5vh;
  margin-left: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #E7EFFD 0%, #F4E6F2 35%, #FFDEE8 100%);
}

.coming-soon {
  margin-bottom: 10px;

  font-family: 'junicode';
  font-style: italic;
  font-weight: 100;
  font-size: 64px;
}

.background-landing p {
  font-weight: 700;
}

.apperances {
  position: absolute;

  min-width: 220px;
  min-height: 150px;

  z-index: 3;
}

.apperance-1 {
  top: 100px;
  left: 100px;
  
  width: 380px;
  height: 300px;

  transform: rotate(0deg);
  transition: transform .2s ease-out;
}
.apperance-1:hover {
  background-image: url(images/factix/devices4.png);
  background-size: cover;
  background-position-x: -10px;
  background-position-y: center;

  transform: rotate(2deg);
  transition: transform .2s ease-out;
}

.apperance-2 {
  top: 40%;
  right: 10%;
  
  height: 200px;
  width: 340px;

  transform: rotate(0deg);
  transition: transform .2s ease-out;
}
.apperance-2:hover {
  background-image: url(images/fml.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  transform: rotate(-2deg);
  transition: transform .2s ease-out;
}

.apperance-3 {
  top: 50%;
  left: 10%;

  transform: rotate(0deg);
  transition: transform .2s ease-out;
}
.apperance-3:hover {
  background-image: url(images/TheFork/mockup_map1.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  height: 300px;
  min-width: 170px;

  transform: rotate(-4deg);
  transition: transform .2s ease-out;
}

.apperance-4 {
  top: 65%;
  left: 40%;

  transform: rotate(0deg);
  transition: transform .2s ease-out;
}
.apperance-4:hover {
  background-image: url(images/ria-dsk.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  width: 270px;
  height: 200px;

  transform: rotate(-4deg);
  transition: transform .2s ease-out;
}

.apperance-5 {
  top: 5%;
  left: 40%;

  transform: rotate(0deg);
  transition: transform .2s ease-out;
}
.apperance-5:hover {
  background-image: url(images/TheFork/TheFork-transparent.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  width: 370px;
  height: 300px;

  transform: rotate(4deg);
  transition: transform .2s ease-out;
}

@media (max-width :500px) {
  .apperance-1, .apperance-2, .apperance-3, .apperance-4, .apperance-5 {
    display: none;
  }
}